{% extends "layout.html" %}
{% block container %}

<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

<div class="flex flex-col items-center justify-center text-center py-20">

    <h1 class="text-4xl font-bold text-gray-800 mb-4">
        Bienvenido al Sistema Escolar
    </h1>

    <p class="text-gray-600 max-w-xl mb-8">
        Desde aquí puedes administrar alumnos, maestros y la información
        del sistema de manera sencilla.
    </p>

</div>

{%endblock%}