{% extends "layout.html" %}

{% block container %}

<div class="flex justify-center">
    <div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs hover:bg-neutral-secondary-medium">
        <h5 class="mb-3 text-2xl font-semibold tracking-tight text-heading leading-8">{{ maestro.nombre }} {{ maestro.apellidos }}</h5>
        <p class="text-body">Matricula: {{ maestro.matricula }}</p>
        <p class="text-body">Especialidad: {{ maestro.especialidad }}</p>
        <p class="text-body">{{ maestro.email }}</p>
    </div>
</div>

{% endblock %}
