{% extends "layout.html" %}
{% block container %}

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <div class="p-4">
        <a href="{{ url_for('maestros.agregar') }}"
           class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-5 py-2.5 focus:outline-none">
            Crear profesor
        </a>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium">
        <tr>
            <th scope="col" class="px-6 py-3 font-medium">Matricula</th>
            <th scope="col" class="px-6 py-3 font-medium">Nombre</th>
            <th scope="col" class="px-6 py-3 font-medium">Apellidos</th>
            <th scope="col" class="px-6 py-3 font-medium">Especialidad</th>
            <th scope="col" class="px-6 py-3 font-medium">Email</th>
            <th scope="col" class="px-6 py-3 font-medium">Creado el</th>
            <th scope="col" class="px-6 py-3 font-medium">Editado el</th>
            <th scope="col" class="px-6 py-3 font-medium">Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for maestro in maestros %}
        <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
            <td class="px-6 py-4">{{ maestro.matricula }}</td>
            <td class="px-6 py-4">{{ maestro.nombre }}</td>
            <td class="px-6 py-4">{{ maestro.apellidos }}</td>
            <td class="px-6 py-4">{{ maestro.especialidad }}</td>
            <td class="px-6 py-4">{{ maestro.email }}</td>
            <td class="px-6 py-4">{{ maestro.created_at.strftime('%d/%m/%Y %H:%M') }}</td>
            <td class="px-6 py-4">{{ maestro.updated_at.strftime('%d/%m/%Y %H:%M') }}</td>
            <td class="px-6 py-4 space-x-2">
                <a href="{{ url_for('maestros.detalles', matricula=maestro.matricula) }}" class="text-white bg-success px-3 py-2 rounded-base inline-flex items-center justify-center">Ver</a>
                <a href="{{ url_for('maestros.modificar', matricula=maestro.matricula) }}" class="text-white bg-warning px-3 py-2 rounded-base inline-flex items-center justify-center">Editar</a>
                <a href="{{ url_for('maestros.eliminar', matricula=maestro.matricula) }}" class="text-white bg-danger px-3 py-2 rounded-base inline-flex items-center justify-center">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% if not maestros %}
        <tr>
            <td colspan="8" class="text-center py-6 text-body">No hay profesores registrados</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
